<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  {{ $style := resources.Get "css/main.css" | resources.PostCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{ $js := resources.Get "js/main.js" | js.Build | minify | fingerprint }}
  <script src="{{ $js.Permalink }}" defer></script>

  <link rel="canonical" href="{{ .Permalink }}">
</head>
